<%- include('partials/header') %>

<h1>view all campaigns</h1>
<br>



<div class="row">
<% for (let i = 1; i <= numberofcampaigns; i++) {%>





<div class="pricing-column col-lg-4 col-md-6">
<div class="card box-card">
  <img src="/images/campaign.jfif" alt="campaign image" width="100%" class="center">
  <a href="#">Camapign<%=i%></a>
</div>
</div>






<%}%>

</div>

<%- include('partials/footer') %>
